NOTION_TOKEN=YOUR_NOTION_API_KEY
NOTION_TASK_DATABASE_ID=YOUR_NOTION_TASK_DATABASE_ID
NOTION_PROJECT_DATABASE_ID=YOUR_NOTION_PROJECT_DATABASE_ID
TODOIST_TOKEN=YOUR_TODOIST_API_TOKEN
DB_TYPE=sqlite or mysql
DB_PATH=sync_tasks.db or your_mysql_host
DB_NAME=sync_tasks.db or your_mysql_database
MYSQL_HOST=your_mysql_host
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=sync_tasks